{% extends 'guest_registeration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ user.profile }}{% endblock title %}
{% block content %}

    <div class="row">
        <div class="col-md-9"><h1>{{ user.profile }}</h1></div>
        <div class="col-md-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addPharmacist">
                Add New Pharmacist 
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addPharmacist" tabindex="-1" role="dialog" aria-labelledby="addPharmacistTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPharmacistTitle">Add Pharmacist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{ form.name|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.emp_code|as_crispy_field }}</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        {% for pharmacist in pharmacists %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-10 mt-2">{{ pharmacist.name }} ({{ pharmacist.emp_code }})</div>
                    <div class="col-md-2">
                        <button type="button" class="btn text-right" data-toggle="modal" data-target="#delete_pharmacist">
                            <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </button>
                    </div>
                </div>
                
                <div class="modal fade" id="delete_pharmacist" tabindex="-1" role="dialog" aria-labelledby="delete_pharmacist_title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="">Are you sure you want to delete this crew member?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form class="d-inline" action="{% url 'users:pharmacist_delete' pharmacist.id %}" method="post">
                                    {% csrf_token %}                            
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>





    <h3>Guests</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>#</th>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Insurance Company</th>
            <th></th>
        </thead>
        <tbody>
            {% for guest in guests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'guest_registeration:guest_detail' guest.id %}">
                            {{ guest.fullname }}
                        </a>
                    </td>
                    <td>{{ guest.mobile }}</td>
                    <td>{{ guest.insurance_company }}</td>
                    <td>
                        <a href="{% url 'guest_registeration:guest_update' guest.id %}" class="btn text-secondary">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <button type="submit" class="btn" data-toggle="modal" data-target="#delete_guest">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                        <div class="modal fade" id="delete_guest" tabindex="-1" role="dialog" aria-labelledby="delete_guest_title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p class="">Are you sure you want to delete this guest?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form class="d-inline" action="{% url 'guest_registeration:guest_delete' guest.id %}" method="post">
                                            {% csrf_token %}                            
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock content %}