{% extends 'guest_registeration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register New Guest{% endblock title %}
{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.fullname|as_crispy_field }}
        {{ form.mobile|as_crispy_field }}
        {{ form.insurance_company|as_crispy_field }}
        {{ form.dispensing_pharmacy|as_crispy_field }}
        <div class="row">
            <div class="col-md-4">{{ form.dipensing_date|as_crispy_field }}</div>
            <div class="col-md-8">{{ form.next_dispensing|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg mt-3">
                    Submit <i class="fas fa-database fa-lg ml-2"></i>  
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'guest_registeration:guest_list' %}" class="btn btn-secondary btn-block btn-lg mt-3">
                    Guest List <i class="fas fa-stream ml-2"></i>
                </a>
            </div>
        </div>
    </form>
{% endblock content %}