{% extends 'base.html' %}
{% load static %}
{% block title %}Set Appointment{% endblock title %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'Dentist_App/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Set Appointment</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <center>
    <h1>You booked an appointment</h1>
    <h3>Review Your Schedule</h3>
    <p>Your Name: {{ your_name }}</p>
    <p>Your Phone: {{ your_phone }}</p>
    <p>Your Email: {{ your_email }}</p>
    <p>Your Address: {{ your_address }}</p>
    <p>Your Schedule: {{ your_schedule }}</p>
    <p>Your Time: {{ your_time }}</p>
    <p>Your Message: {{ your_message }}</p>
  </center>  
<br><br>
{% endblock content %}


